@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;

}

body {
    background-color: #121212;
}


@mixin laptop {
    @media screen and (max-width : 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width : 768px) {
        @content;
    }
}

@mixin tablet-mini {
    @media screen and (max-width : 650px) {
        @content;
    }
}

@mixin moblie {
    @media screen and (max-width : 480px) {
        @content;
    }
}

// .light-mode {
//     background-color: #ffffff;

//     .toggle-button {
//         button {
//             color: #121212;
//         }
//     }

//     .nav {
//         ul {
//             li {
//                 color: #121212;
//             }
//         }
//     }

//     .hero {
//         .txt {
//             color: #121212;
//         }
//     }

//     .about {
//         .para {
//             color: #121212;
//         }

//         a {
//             button {
//                 color: #121212;
//             }
//         }
//     }

//     .project {
//         .arrow-button {
//             button {
//                 color: #1e1e1e;
//             }
//         }

//         .card {
//             .date {
//                 color: #1e1e1e;
//             }

//             .txt-container {
//                 background-color: #eeeeee;

//                 h1 {
//                     color: #1e1e1e;
//                 }

//                 .para {
//                     color: #1e1e1e;
//                 }

//                 .tags {
//                     span {
//                         color: #1e1e1e;
//                     }
//                 }
//             }
//         }
//     }

//     .skill {
//         background-color: #eeeeee;
//         color: #1e1e1e;

//         .set {
//             ul {
//                 background-color: #d3d3d3;
//             }
//         }
//     }

//     .contact {
//         ul {

//             li {
//                 a {
//                     color: #121212;
//                 }
//             }
//         }
//     }
// }

// .toggle-button {
//     position: fixed;
//     top: 30px;
//     right: 30px;
//     z-index: 1001;

//     button {
//         color: white;
//         border: none;
//         background-color: transparent;
//         transition: .3s;

//         &:hover {
//             transform: scale(1.2);
//         }
//     }
// }

.heading {
    color: #a555ec;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: -3px 3px 3px #121212c8;

    @include laptop {
        font-size: 4.5rem;
    }

    @include tablet {
        font-size: 3.5rem;
    }

    @include tablet-mini {
        font-size: 3rem;
    }

    @include moblie {
        font-size: 2.5rem;
    }
}

.nav {
    margin-top: .5rem;
    position: fixed;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;



    ul {
        border-radius: 20px;
        backdrop-filter: blur(3px);
        background: #121212af;
        padding: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        box-shadow: -3px 3px 10px #121212;

        @include moblie {
            padding: .3rem .6rem;
            gap: 15px;
        }



        li {
            position: relative;
            padding: 5px 7px;
            color: white;

            a {
                color: white;
                text-decoration: none;
                text-shadow: 0 0 5px #121212;
                font-size: .8rem;
                transition: .3s;

                &:hover::before {
                    width: 0%;
                }

                &:hover {
                    color: #a555ec;
                }

                &::before {
                    content: '';

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    height: 2px;
                    width: 100%;

                    background-color: #a555ec;
                    border-radius: 5px;

                    transition: .3s;
                    z-index: -1;
                }
            }

        }
    }
}

.hero {
    position: relative;

    width: 100%;
    height: calc(100vh);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;


    img {
        width: 450px;

        @include laptop {
            width: 400px;
        }

        @include tablet {
            width: 350px;
        }

        @include tablet-mini {
            width: 275px;
        }

        @include moblie {
            width: 230px;
        }
    }

    .txt {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: white;
        font-size: 18vw;
        font-weight: 900;

        z-index: -1;
    }
}

.about {
    position: relative;

    margin-inline: auto;
    max-width: 1200px;
    padding: 2rem;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


    @include tablet-mini {
        flex-direction: column;
    }

    @include laptop {
        font-size: 14px;
    }

    @include tablet {
        font-size: 13px;
    }

    img {
        width: 350px;
        border-radius: 50%;
        box-shadow: -20px 0px 0px #1e1e1e;

        @include laptop {
            width: 280px;
        }

        @include tablet {
            width: 220px;
        }

        @include tablet-mini {
            border-radius: 0;
            width: 180px;
        }

    }

    .para {
        position: relative;
        color: white;

    }

    .heading {
        position: absolute;
        left: 27%;
        top: 0;

        @include tablet-mini {
            left: 10%;
        }
    }

    a {
        position: absolute;
        right: 10%;
        bottom: -40px;

        button {
            padding: 5px 10px;
            border: none;
            background-color: #a555ec;
            border-radius: 0px 8px 8px 8px;
            font-size: 1rem;
            color: white;
            border: 3px solid transparent;
            transition: .3s;

            @include laptop {
                font-size: .9rem;
            }

            @include tablet {
                font-size: .8rem;
            }

            @include moblie {
                font-size: .7rem;
                padding: 3px 7px;
            }


            &:hover {
                background-color: #a555ec7a;
                border: 3px solid #a555ec;
            }
        }
    }
}

.project {
    position: relative;

    margin-inline: auto;
    padding: 2rem;
    margin-bottom: 5rem;

    .heading {
        position: absolute;
        right: 3%;
        top: 10%;
        z-index: 10;
    }

    .arrow-button {
        display: flex;
        position: absolute;
        gap: 10px;
        top: 70%;
        left: 80%;


        @include tablet {
            top: 60%;
        }

        @include tablet-mini {
            position: relative;
            left: 5%;
            top: -10px;
        }



        button {
            background: transparent;
            border: none;
            color: white;
            transition: .3s;

            &:hover {
                opacity: .7;
            }

            &:active {
                transform: scale(.8);
            }

            .prev,
            .next {
                font-size: 3rem;

                @include laptop {
                    font-size: 2.5rem;
                    color: #a555ec;

                }

                @include tablet {
                    font-size: 2rem;
                }

                @include tablet-mini {
                    font-size: 1.8rem;

                }

                @include moblie {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 80vw;
            border-radius: 10px 10px 0px 0px;
            box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);

            @include tablet-mini {
                width: 90vw;
            }
        }

        .txt-container {
            background-color: #1e1e1e;
            border-radius: 0px 0px 10px 10px;
            padding: 1rem;
            width: 80vw;
            box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);

            @include tablet-mini {
                width: 90vw;
            }

            h1 {
                position: relative;
                color: white;
                margin-bottom: 1rem;
                text-decoration: underline;
                transition: .3s;

                &:hover {
                    color: #a555ec;
                }

                &:visited {
                    color: inherit;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }

                @include moblie {
                    margin-bottom: 3px;
                    font-size: 1.5rem;
                }

            }

            .para {
                color: white;


                @include laptop {
                    font-size: 14px;
                }

                @include tablet-mini {
                    font-size: 12px;
                }


            }

            .tags {
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;
                gap: 10px;
                font-size: 14px;
                margin-bottom: 1rem;

                @include laptop {
                    font-size: 12px;
                }

                @include tablet-mini {
                    font-size: 10px;
                }


                @include moblie {
                    font-size: 8px;
                    margin-bottom: 3px;
                    gap: 3px;
                }

                span {
                    padding: 2px 5px;
                    color: #a555ec;
                    border: 1px solid #a555ec;
                    border-radius: 5px;
                }
            }
        }

        .date {
            color: white;
            position: absolute;
            font-size: 1rem;
            right: 12%;
            bottom: -10px;

            @include tablet-mini {
                font-size: .7rem;
            }
        }
    }
}

.skill {
    color: white;
    max-width: 85vw;
    margin-inline: auto;
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    margin-bottom: 5rem;

    @include tablet {
        max-width: 90vw;
        padding: 30px;
    }

    .heading {
        position: absolute;
        left: 50%;
        top: -60px;
        transform: translateX(-50%);

        @include laptop {
            top: -45px;
        }

        @include tablet-mini {
            top: -35px;
        }

        @include moblie {
            top: -25px;
        }

    }

    .set {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        gap: 40px;


        @include tablet-mini {
            gap: 10px;
        }



        ul {
            margin-top: 2rem;
            width: 250px;
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            box-shadow: -7px 5px 10px #121212b4;


            @include tablet {
                width: 200px;
            }


            @include tablet-mini {
                padding: 10px;
                margin-top: 1rem;
                width: 180px;
            }

            @include moblie {
                width: 135px;
                padding: 5px;
                margin-top: 14px;
            }

            position: relative;
            transition: .3s;

            &:hover {
                transform: translateY(-10px);
            }

            h1 {
                position: absolute;
                top: -20px;
                right: 20px;
                font-weight: 200;


                @include tablet {
                    font-size: 1.8rem;
                }

                @include moblie {
                    font-size: 1.3rem;
                }

            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3px;

                @include tablet {
                    font-size: 16px;
                }

                @include moblie {
                    font-size: 12px;
                }

                .MuiRating-root {
                    @include tablet {
                        font-size: 16px;
                    }

                    @include moblie {
                        font-size: 12px;
                    }
                }

                .MuiRating-iconEmpty {
                    color: #3e3e3e;

                }

            }
        }

    }
}

.contact {

    margin-bottom: 2rem;

    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @include moblie {
            gap: 30px;
        }


        &::before {
            content: '';

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            height: 3px;
            width: 100%;

            background-color: #a555ec;
            border-radius: 5px;

            z-index: -1;
        }

        li {
            a {
                text-decoration: none;
                color: white;
                transition: .5s;

                .MuiSvgIcon-root {
                    font-size: 3rem;

                    @include tablet {
                        font-size: 2.8rem;
                    }

                    @include tablet-mini {
                        font-size: 2.2rem;
                    }

                    @include moblie {
                        font-size: 1.8rem;
                    }
                }

                &:hover {
                    color: #a555ec;
                }
            }
        }
    }
}