@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;

}

body {
    background-color: #121212;
}

@mixin xl {
    @media screen and (max-width : 1200px) {
        @content
    }
}

;

@mixin lg {
    @media screen and (max-width : 992px) {
        @content
    }
}

;

@mixin md {
    @media screen and (max-width : 768px) {
        @content
    }
}

;

@mixin sm {
    @media screen and (max-width : 576px) {
        @content
    }
}

.light-mode {
    background-color: #ffffff;

    .toggle-button {
        button {
            color: #121212;
        }
    }

    .nav {
        ul {
            li {
                color: #121212;
            }
        }
    }

    .hero {
        .txt {
            color: #121212;
        }
    }

    .about {
        .para {
            color: #121212;
        }

        a {
            button {
                color: #121212;
            }
        }
    }

    .project {
        .arrow-button {
            button {
                color: #1e1e1e;
            }
        }

        .card {
            .date {
                color: #1e1e1e;
            }

            .txt-container {
                background-color: #eeeeee;

                h1 {
                    color: #1e1e1e;
                }

                .para {
                    color: #1e1e1e;
                }

                .tags {
                    span {
                        color: #1e1e1e;
                    }
                }
            }
        }
    }

    .skill {
        background-color: #eeeeee;
        color: #1e1e1e;

        .set {
            ul {
                background-color: #d3d3d3;
            }
        }
    }

    .contact {
        ul {
            li {
                a {
                    color: #121212;
                }
            }
        }
    }
}

.toggle-button {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1001;

    button {
        color: white;
        border: none;
        background-color: transparent;
        transition: .3s;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.heading {
    color: #a555ec;
    font-size: 6rem;
    font-weight: 700;
    text-shadow: -3px 3px 3px #121212c8;

    @include lg {
        font-size: 4.5rem;
    }

    @include md {
        font-size: 3.5rem;
    }

    @include sm {
        font-size: 3rem;
    }
}

.nav {
    margin-top: .5rem;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    ul {
        @include md {
            padding: .2rem .7rem;
        }

        border-radius: 20px;
        backdrop-filter: blur(3px);
        background: #121212af;
        padding: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        box-shadow: -3px 3px 10px #121212;

        li {
            position: relative;
            padding: 5px 7px;
            color: white;

            a {
                color: white;
                text-decoration: none;
                text-shadow: 0 0 5px #121212;
                font-size: .8rem;
                transition: .3s;

                &:hover::before {
                    width: 0%;
                }

                &:hover {
                    color: #a555ec;
                }

                &::before {
                    content: '';

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);

                    height: 2px;
                    width: 100%;

                    background-color: #a555ec;
                    border-radius: 5px;

                    transition: .3s;
                    z-index: -1;
                }
            }

        }
    }
}

.hero {
    position: relative;

    width: 100%;
    height: calc(100vh);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    img {
        width: 450px;

        @include md {
            width: 350px;
        }

        @include sm {
            width: 300px;
        }
    }

    .txt {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: white;
        font-size: 16.5rem;
        font-weight: 900;

        z-index: -1;

        @include xl {
            font-size: 14rem;
        }

        @include lg {
            font-size: 10.8rem;
        }

        @include md {
            font-size: 8rem;
        }

        @include sm {
            font-size: 6rem;
        }
    }
}

.about {
    position: relative;

    margin-inline: auto;
    max-width: 1200px;
    padding: 2rem;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


    img {
        width: 350px;
        border-radius: 50%;
        box-shadow: -20px 0px 0px #a555ec;

        @include lg {
            width: 300px;
        }

        @include md {
            width: 200px;
        }

        @include sm {
            width: 150px;
        }
    }

    .para {
        position: relative;
        color: white;

        @include lg {
            font-size: .9rem;
        }

        @include md {
            font-size: .7rem;
        }

    }

    .heading {
        position: absolute;
        left: 27%;
        top: 0;

        @include sm {
            top: -15px;
        }
    }

    a {
        position: absolute;
        right: 10%;
        bottom: -60px;

        button {
            padding: 5px 10px;
            border: none;
            background-color: #a555ec;
            border-radius: 8px 0px 8px 8px;
            font-size: 1rem;
            color: white;
            border: 3px solid transparent;
            transition: .3s;

            @include sm {
                font-size: .7rem;
            }

            &:hover {
                background-color: transparent;
                border: 3px solid #a555ec;
            }
        }
    }
}

.project {
    position: relative;

    margin-inline: auto;
    max-width: 1200px;
    padding: 2rem;
    margin-bottom: 5rem;

    .heading {
        position: absolute;
        right: 3%;
        top: 10%;
        z-index: 10;
    }

    .arrow-button {
        display: flex;
        position: absolute;
        gap: 10px;
        top: 65%;
        left: 79%;

        button {
            background: transparent;
            border: none;
            color: white;
            transition: .3s;

            &:hover {
                opacity: .7;
            }

            &:active {
                transform: scale(.8);
            }

            .prev,
            .next {
                font-size: 3rem;

                @include lg {
                    font-size: 2.5rem;
                }

                @include md {
                    font-size: 2rem;
                }

            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 800px;
            border-radius: 10px 10px 0px 0px;
            box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);

            @include lg {
                width: 600px;
            }

            @include md {
                width: 500px;
            }
        }

        .txt-container {
            background-color: #1e1e1e;
            border-radius: 0px 0px 10px 10px;
            padding: 1rem;
            width: 800px;
            box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);


            @include lg {
                width: 600px;
            }

            @include md {
                width: 500px;
            }

            h1 {
                position: relative;
                color: white;
                margin-bottom: 1rem;
                text-decoration: underline;
                transition: .3s;

                &:hover {
                    color: #a555ec;
                }

                &:visited {
                    color: inherit;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }

            }

            .para {
                color: white;

                @include lg {
                    font-size: .9rem;
                }

                @include md {
                    font-size: .7rem;
                }
            }

            .tags {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                font-size: .8rem;
                margin-bottom: 1rem;

                span {
                    padding: 2px 5px;
                    color: #a555ec;
                    border: 1px solid #a555ec;
                    border-radius: 5px;
                }
            }
        }

        .date {
            color: white;
            position: absolute;
            font-size: 1rem;
            right: 12%;
            bottom: -10px;
        }
    }
}

.skill {
    color: white;
    max-width: 1200px;
    margin-inline: auto;
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    margin-bottom: 5rem;

    @include xl {
        max-width: 992px;
    }

    @include lg {
        max-width: 768px;
    }

    @include sm {
        max-width: 400px;
    }

    .heading {
        position: absolute;
        left: 50%;
        top: -60px;
        transform: translateX(-50%);

        @include md {
            top: -40px;
        }

        @include sm {
            top: -30px;
        }

    }

    .set {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        gap: 40px;

        @include lg {
            gap: 30px;
        }

        @include md {
            gap: 20px;
        }

        ul {
            margin-top: 2rem;
            width: 250px;
            background-color: #1e1e1e;
            padding: 20px;
            border-radius: 10px;
            box-shadow: -7px 5px 10px #121212b4;


            position: relative;
            transition: .3s;

            &:hover {
                transform: translateY(-10px);
            }

            h1 {
                position: absolute;
                top: -20px;
                right: 20px;
                // text-shadow: -7px 5px 5px #121212da;
                font-weight: 100;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3px;

                .MuiRating-iconEmpty {
                    color: #3e3e3e;
                }

            }
        }

    }
}

.contact {

    margin-bottom: 2rem;





    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        &::before {
            content: '';

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            height: 3px;
            width: 100%;

            background-color: #a555ec;
            border-radius: 5px;

            z-index: -1;
        }

        li {
            a {
                text-decoration: none;
                color: white;
                transition: .5s;

                &:hover {
                    color: #a555ec;
                }
            }
        }
    }
}